@charset "utf-8";
/* CSS Document */

img{
	display:block;
	margin:auto;
}
[data-role="content"]{
	color:#0080FF;
	font-weight:bold;
	}

label {
  font-weight: bold !important;
  color: #000;
}